.enform {
    background: none;

    .btn-block {
        width: 80%;
    }
}

.enform-side-style,
.enform-full-width-bg {
  width: 100%;

  .container {
    z-index: 1;
  }
}

.enform .form-container {
  input {
    box-sizing: border-box;
  }
}